// https://paulintrognon.fr/blog/typescript-prettier-eslint-next-js
{
  "plugins": ["@typescript-eslint"], // Add
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
  },
  "root": true, // See https://github.com/eslint/eslint/issues/13385#issuecomment-641252879
}
