node_modules
/dist
.DS_Store
build/
dist/
npm-debug.log*
lerna-debug.log*
*.tsbuildinfo
.turbo
.vscode

# Build Outputs
.next/
out/
build
dist
.env
.env.local
.cpuprofile

docs/.vitepress/dist
docs/.vitepress/cache
