/* Custom styles */
:root {
  /* Add your custom CSS variables here */
  .logo {
    border-radius: 4px;
    filter: grayscale(0.5);
    opacity: 0.75;
  }
}

/* Add your custom styles here */
.VPSidebarItem.level-3 .text {
  font-size: 0.8em;
  padding: 0;
}
