/* Custom styles */
:root {
  /* Add your custom CSS variables here */
  .logo {
    border-radius: 4px;
    filter: grayscale(0.5);
    opacity: 0.75;
  }
}

.dark {
  /* --vp-c-bg: hsl(223, 64%, 6%); */
  --vp-c-bg: hsl(225, 27%, 11%);
  --vp-sidebar-bg-color: hsl(225, 27%, 11%);
}

/* Add your custom styles here */
.VPSidebarItem.level-3 .text {
  font-size: 0.8em;
  padding: 0;
}
