[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "24.11.1"
  NODE_OPTIONS = "--max_old_space_size=4096"
  NPM_FLAGS = "--force"  # Override dependency constraints
  CI = "false"  # This will prevent treating warnings as errors
  NEXT_TELEMETRY_DISABLED = "1"

[[plugins]]
  package = "@netlify/plugin-nextjs" 
