name: Build examples

on:
  pull_request:
    paths:
      - 'examples/**'
  workflow_dispatch:
  workflow_call:

jobs:
  build-examples:
    name: Build examples
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        # See https://github.com/pnpm/pnpm/issues/8840
        run: pnpm install --shamefully-hoist

      - name: Build packages
        run: pnpm build

      - name: Build examples
        run: pnpm build:examples:ci
