name: Deploy docs

# Commenting out the trigger section to temporarily disable the workflow
on:
  push:
    branches:
      - main
    paths:
      - 'packages/**'
      - 'docs/**'
      - '.github/workflows/deploy-docs.yml'

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true # Enable Git LFS for this checkout

      - name: Setup Git LFS
        run: |
          git lfs install
          git lfs pull

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10.5.0
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Install dependencies
        # See https://github.com/pnpm/pnpm/issues/8840
        run: pnpm install --shamefully-hoist

      - name: Build packages
        run: pnpm build

      - name: Build docs
        run: pnpm docs:build

      - name: Create CNAME file
        run: echo "sqlrooms.org" > docs/.vitepress/dist/CNAME

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/.vitepress/dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.DOCS_DEPLOY_KEY }}
          external_repository: sqlrooms/sqlrooms.github.io
          publish_dir: docs/.vitepress/dist
          publish_branch: main
          force_orphan: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
