name: PR Checks

on:
  push:
    branches: [main]
    paths-ignore:
      - 'python/**'
      - 'docs/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'python/**'
      - 'docs/**'
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        # See https://github.com/pnpm/pnpm/issues/8840
        run: pnpm install --shamefully-hoist

      - name: Check circular dependencies
        run: pnpm check-circular-deps

      - name: Check for unused dependencies and exports
        run: pnpm knip

      - name: Lint
        run: pnpm lint

      - name: Build packages
        run: pnpm build

      - name: Build apps
        run: pnpm build:apps

      - name: Typecheck examples
        run: pnpm typecheck:examples

      - name: Test
        run: pnpm test
