name: PR Checks

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  check-pr-title:
    name: Validate PR Title
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            fix
            feat
            chore
            docs
            style
            refactor
            perf
            test
            build
            ci
            revert
          subjectPattern: ^.+$
          validateSingleCommit: false
          validateSingleCommitMatchesPrTitle: true
          ignoreLabels: |
            bot
            ignore-semantic-pull-request

  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    needs: check-pr-title
    if: github.event_name != 'pull_request' || github.event.action != 'edited' || github.event.pull_request.user.login == 'renovate[bot]'

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        # See https://github.com/pnpm/pnpm/issues/8840
        run: pnpm install --shamefully-hoist

      - name: Check circular dependencies
        run: pnpm check-circular-deps

      - name: Check for unused dependencies and exports
        run: pnpm knip

      - name: Lint
        run: pnpm lint

      - name: Build packages
        run: pnpm build

      - name: Build examples
        run: pnpm build:examples:ci

      - name: Test
        run: pnpm test
