name: PR Title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    paths-ignore:
      - 'python/**'
      - 'docs/**'
  workflow_dispatch:

jobs:
  check-pr-title:
    name: Validate PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            fix
            feat
            chore
            docs
            style
            refactor
            perf
            test
            build
            ci
            revert
          subjectPattern: ^.+$
          validateSingleCommit: false
          validateSingleCommitMatchesPrTitle: true
          ignoreLabels: |
            bot
            ignore-semantic-pull-request
